menu "test motor"
depends on APP_USE_TEST

config TEST_DM
    bool "damiao"
    default y

config TEST_DJI
    bool "dji"
    default n

config TEST_LK
    bool "lk"
    default n

config TEST_MT
    bool "MT"
    default n
endmenu
