menu "extension config"
    config EXTENSION_RC
    bool "remote control"
    default n

     source "Src/Common/Extensions/RemoteControl/Kconfig"
    
    config EXTENSION_BUZZER
    bool "buzzer"
    default y

    config EXTENSION_LED
    bool "led"
    default n

    source "Src/Common/Extensions/LED/Kconfig"

    config EXTENSION_MOTOR
    bool "motor driver"
    default n

    select USE_MATHEMATICA_CRC

    source "Src/Common/Extensions/Motor/Core/Imp/LK/Kconfig"

    config EXTENSION_REFEREE
    bool "referee"
    default n

    config EXTENSION_SENSOR
    bool "sensor"
    default y

    config EXTENSION_SUPERCAP
    bool "super cap"
    default n

endmenu
